.app {
  position: relative;
}

.menu {
  position: fixed;
  z-index: 1;
  width: 210px;
  top: 0;
  left: -210px;
  bottom: 0;
  border-right: 1px solid #ddd;
  background-color: #f6f6f6;
  transition: transform 0.3s;
}
.showMenu .menu {
  transform: translateX(100%);
}

.page {
  position: relative;
  z-index: 0;
  height: 100vh;
  transition: margin 0.3s;
}
.showMenu .page {
  margin-left: 210px;
}
